.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kickbox{
  width: 10rem;
}
.kick-list {
  position: absolute;
  top: 0;
}
.card-img-overlay{
  width: 11rem;
}

.card-img-overlay h4{
  font-size: .5rem;
  color: rgb(0, 255, 221);
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.card-img-overlay h3{
  font-size: 1rem;
  height: 3rem;
  color: rgb(0, 255, 221);
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.more-info{
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 255, 221);
  border-radius: 10px;
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.more-info:hover{
  background-color: rgb(71, 71, 71);
  color: rgb(0, 255, 221);
  text-shadow: 1px 1px rgb(255, 255, 255);
}

.nav-bar{
  background-color: black;
}
.logo{
  width: 4rem;
  height: 2rem;
}

.nav-link{
  font-weight: 900;
}

.indi-kicks{
  width: 35rem;
}

.main-info h1,
.main-info h2,
.main-info h4{
  font-size: 1rem;
  margin: .5rem 1rem;
  width: 9rem;
}

.side-info h6{
  margin: .5rem;
  font-size: .7rem;
}
.crud-functions button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 255, 221);
  border-radius: 10px;
  font-weight: 900;
  text-shadow: 1px 1px black;
  width: 5rem;
  
}

.crud-functions button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 221);
  text-shadow: 1px 1px rgb(255, 255, 255);
}

.card-img-me {
  height: 25rem;
  padding: 1rem 1rem;
}


.profile-pic {
  width: 100%;
  height: 400px;
  padding: 5rem 2rem 2rem 2rem;
}